.cabecalho {
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cor-bg);
}

.cabecalho__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu__lista {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.menu__lista a {
  display: block;
  padding: 0.5rem;
}

.menu__botao {
  display: none;
}